* {
    font-family: "Poppins", sans-serif;
}

#main {
    background: url("https://iili.io/HGwFeRt.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}

.main-container {
    width: 1280px;
    margin: auto;
}

li {
    list-style: none;
}

.inner {
    background: url("https://iili.io/HGwFeRt.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.news {
    background: url("https://iili.io/HMpokqN.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container .content {
    display: none;
    padding: 5px;
}
