* {
    font-family: "Poppins", sans-serif;
}

#main {
    background: url("https://i.ibb.co/fMSmQGq/main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
}

.main-container {
    width: 1280px;
    margin: auto;
}

li {
    list-style: none;
}

.inner {
    background: url("https://i.ibb.co/5npzCQ4/inner-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.news {
    background: url("https://iili.io/HMpokqN.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container .content {
    display: none;
    padding: 5px;
}

/* tothetop-arrow */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
}
